.joker {
    &-campaign-big {
        margin-bottom: 1em;
        position: relative;

        img {
            width: 100%;
            display: block;
            height: auto;
        }

        p {
            border-radius: 2em;
            background-color: rgba(#FFF, .85);
            padding: .5em 1.25em;
            position: absolute;
            bottom: 1em;
            left: 50%;
            transform: translateX(-50%);
        }

        .icon {
            color: inherit;
            width: 5px;
        }
    }
}

.spar-single-products {
    overflow: hidden;
    padding: 16px 16px 0;
    margin: 0 -1.5em;
}

.spar-link {
    margin: 5px 20px 30px;
    text-align: center;
    text-decoration: underline;

    .icon {
        width: 6px;
    }
}

.spar-heading {
    font-size: 20px;
    font-weight: bold;
    border-bottom: 2px solid #F01516 ;
    display: inline-block;
    margin-left: 16px;
    margin-top: 16px;
    margin-bottom: 8px;
}

.spar-multiple-product {
    background-color: #F01516;
    padding-bottom: 16px;
    margin-bottom: 16px;

    &__header {
        background-color: #F01516;
        padding: 16px;
        padding-left: 135px;
        color: #FFF;
        font-size: 14px;
        position: relative;

        strong {
            display: block;
        }

        &__price {
            font-size: 40px;
            font-weight: 600;
            line-height: 1;
            position: absolute;
            letter-spacing: -1px;
            top: 16px;
            left: 16px;
        }
    }

    .icon {
        @extend .yay;

        position: absolute;
        bottom: 10px;
        right: 10px;
    }

    .spar-link {
        color: #FFF;
        margin-bottom: 0;
        text-align: right;
    }

    .horizontal-scroller__element {
        position: relative;
    }

    img {
        width: 100%;
        display: block;
    }
}

.yay {
    height: 20px;
    background-color: rgba(#FFF, .9);
    width: 20px;
    padding: 10px;
    border-radius: 50%;
}

.spar-single-product {
    float: left;
    width: 50%;
    box-sizing: border-box;
    padding: 0 1.5em 1em;
    font-size: 14px;

    &.added {
        .icon {
            color: #FFF;
            background-color: red;
        }
    }

    &__image {
        width: 50%;
        height: 100px;
        margin: 0 0 .5em 0;
        position: relative;
    }

    .icon {
        @extend .yay;
        position: absolute;
        bottom: 0;
        right: -10px;
    }

    &__price {
        font-size: 50px;
        font-weight: 900;
        font-family: "Open Sans";
        color: #F01516;
        line-height: 1;
        position: relative;

        .des {
            font-size: .4em;
            position: absolute;
            top: .75em;
            left: 100%;
            display: block;
        }
    }

    &__title {
        font-weight: 600;
    }

    &__title,
    &__subtitle {
        display: block;
    }

    &__subtitle {
        margin-bottom: 1em;
    }
}
