.joker {
    &-campaign-big {
        margin-bottom: 1em;
        position: relative;

        img {
            width: 100%;
            display: block;
            height: auto;
        }

        p {
            border-radius: 2em;
            background-color: rgba(#FFF, .85);
            padding: .5em 1.25em;
            position: absolute;
            bottom: 1em;
            left: 50%;
            transform: translateX(-50%);
        }

        .icon {
            color: inherit;
            width: 5px;
        }
    }
}

.spar-single-products {
    overflow: hidden;
    padding: 16px 16px 0;
    margin: 0 -1.5em;
}

.spar-link {
    margin: 5px 20px 30px;
    text-align: center;
    text-decoration: underline;

    .icon {
        width: 6px;
    }
}

.spar-heading {
    font-size: 20px;
    font-weight: bold;
    border-bottom: 2px solid #F01516 ;
    display: inline-block;
    margin-left: 16px;
    margin-top: 16px;
    margin-bottom: 8px;
}

.spar-multiple-product {
    background-color: #F01516;
    padding-bottom: 16px;
    margin-bottom: 16px;

    &__header {
        background-color: #F01516;
        padding: 16px;
        padding-left: 135px;
        color: #FFF;
        font-size: 14px;
        position: relative;

        strong {
            display: block;
        }

        &__price {
            font-size: 40px;
            font-weight: 600;
            line-height: 1;
            position: absolute;
            letter-spacing: -1px;
            top: 16px;
            left: 16px;
        }
    }

    .icon {
        @extend .yay;

        position: absolute;
        bottom: 10px;
        right: 10px;
    }

    .spar-link {
        color: #FFF;
        margin-bottom: 0;
        text-align: right;
    }

    .horizontal-scroller__element {
        position: relative;
    }

    img {
        width: 100%;
        display: block;
    }
}

.yay {
    height: 20px;
    background-color: rgba(#FFF, .9);
    width: 20px;
    padding: 10px;
    border-radius: 50%;
}

.spar-single-product {
    float: left;
    width: 50%;
    box-sizing: border-box;
    padding: 0 1.5em 1em;
    font-size: 14px;

    &.added {
        .icon {
            color: #FFF;
            background-color: red;
        }
    }

    &__image {
        width: 50%;
        height: 100px;
        margin: 0 0 .5em 0;
        position: relative;
    }

    .icon {
        @extend .yay;
        position: absolute;
        bottom: 0;
        right: -10px;
    }

    &__price {
        font-size: 50px;
        font-weight: 900;
        font-family: "Open Sans";
        color: #F01516;
        line-height: 1;
        position: relative;

        .des {
            font-size: .4em;
            position: absolute;
            top: .75em;
            left: 100%;
            display: block;
        }
    }

    &__title {
        font-weight: 600;
    }

    &__title,
    &__subtitle {
        display: block;
    }

    &__subtitle {
        margin-bottom: 1em;
    }
}

.login {
    input {
        width: 100%;
        box-sizing: border-box;
        padding: 1.125em 1.35em;
        color: #777;
        background-color: #FFF;
        border-radius: 2px;
        margin-bottom: .75em;
    }
}

.trumf-on-link {
    text-decoration: underline;
    margin-top: 20px;
    font-size: 18px;
    text-align: center;
    opacity: .85;
}

.trumf-login-heading {
    font-size: 20px;
    margin-bottom: 20px;
    border-top: 30px solid transparent;

    .icon {
        width: 35px;
        margin-right: 10px;
        vertical-align: middle;
    }
}

.stores-pick {
    border-radius: 2px;
    overflow: hidden;
    font-size: 15px;

    > li {
        background-color: rgba(#FFF, .8);
        padding: 20px 0;
        color: $text-color;

        &.yes {
            background-color: #FFF;
            font-weight: bold;
        }
    }
}


.wheely {
    min-height: 100%;
    padding-bottom:0;
    box-sizing: border-box;
    background-color: #009540;
    color: #FFF;
}

.wheel{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 93%;
    transform: rotate(0deg);
}

.spinny {
    padding-top: 16px;
    margin-top: 25px;
    color: $dark-gray;
    font-weight: 600;
    padding-bottom: 16px;
    text-transform: uppercase;
}

.spinthewheel{
    animation-name: spin;
    animation-duration: 4000ms;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-delay: 300ms;
    animation-fill-mode: both;
}

.wheel-logo {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2.5em;
    margin-bottom: .5em;
    display: block;
    position: relative;
    z-index: 1;
}

.showPrize{
    visibility: visible;
}

.hidePrize{
    visibility:hidden;
}

.prizeImage{
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@keyframes spin{
    from { transform: rotate(0deg); }
    to { transform: rotate(2860deg); }
}

.prize {
    margin-top: -2.35em;
    width: 80%;
    border-radius: 3px;
    background-color: #FFF;
    padding: 3.5em 2em 2em;
    color: $text-color;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    text-align: center;

    &__title {
        font-size: 20px;
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: 2em;
    }

    strong {
        font-weight: 900;
    }

    .icon {
        margin-bottom: 2em;
    }
}
