@charset "UTF-8";

// core
@import "common/variables";
@import "common/typography";
@import "common/helpers";

// base
@import "common/fonts";
@import "common/global";
@import "common/form";
@import "common/grid";
@import "common/fluffers";

// layout
@import "common/layout/app";
@import "common/layout/nav";

// shared objects
@import "common/shared/expander-box";
@import "common/shared/icon";
@import "common/shared/spinner";
@import "common/shared/loader";
@import "common/shared/stripe-list";
@import "common/shared/image";
@import "common/shared/dialog";
@import "common/shared/swiper";
@import "common/shared/swipe-reloader";
@import "common/shared/close-button";
@import "common/shared/horizontal-scroller";
@import "common/shared/infinite-scroller";
@import "common/shared/horizontal-spinner";
@import "common/shared/overflow-scroll-fixers";
@import "common/shared/link";
@import "common/shared/inline-message";
@import "common/shared/popup";
@import "common/shared/panel";
@import "common/shared/filter";
@import "common/shared/article";
@import "common/shared/debug";
@import "common/shared/actions";

// modules
@import "common/modules/cart/cart-items";
@import "common/modules/cart/cart-summary";
@import "common/modules/cart/cart-button";
@import "common/modules/cart/cart-notifier";
@import "common/modules/product/product-search-form";
@import "common/modules/product/most-purchased-products-intro";
@import "common/modules/product/most-purchased-products";
@import "common/modules/product/product-details";
@import "common/modules/product/product-list";
@import "common/modules/product/product";
@import "common/modules/product/environmental-codes";
@import "common/modules/product/nutritional-content";
@import "common/modules/product/product-suggestions";
@import "common/modules/product/add-to-cart";
@import "common/modules/product/autocomplete";
@import "common/modules/product/country-of-origin";
@import "common/modules/product/price";
@import "common/modules/order/order-blob";
@import "common/modules/order/order-details";
@import "common/modules/order/order-blob-big";
@import "common/modules/order/order-status-blob";
@import "common/modules/order/price-summary";
@import "common/modules/order/preorder-status-blob";
@import "common/modules/savings/voucher";
@import "common/modules/user/profile-block";
@import "common/modules/user/trumf-heading";
@import "common/modules/campaign/offer-campaign-list";
@import "common/modules/poster/empty-search-poster";
@import "common/modules/poster/not-found-poster";
@import "common/modules/poster/empty-cart-poster";
@import "common/modules/poster/generic-poster";
@import "common/modules/poster/login-poster";
@import "common/modules/poster/login-success-poster";
@import "common/modules/poster/poster";
@import "common/modules/checkout/checkout";
@import "common/modules/checkout/handover-type-picker";
@import "common/modules/checkout/handover-time-picker";
@import "common/modules/auth-encourager";
@import "common/modules/back-header";
@import "common/modules/header-button";
@import "common/modules/onboarding";
@import "common/modules/title-header";
@import "common/modules/tab-nav";
@import "common/modules/header";
@import "common/modules/button-title";
@import "common/modules/global-error";

.wheel{
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.spinthewheel{
    width: 400px;
    animation-name: spin;
    animation-duration: 4000ms;
    animation-iteration-count: 1;
    animation-timing-function:ease-in-out;
    animation-delay: 300ms;
}

.wheelArrow{
    width: 40px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.showPrize{
    visibility: visible;
}

.hidePrize{
    visibility:hidden;
}

.prizeImage{
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@keyframes spin{
    from { transform: rotate(0deg); }
    to { transform: rotate(2880deg); }
}

