html(lang="no")
    head
        link(rel="stylesheet" href=cacheBuster("/css/webshop-mobile-app.css"))
        link(rel="stylesheet" href="//cloud.typography.com/7437852/6675972/css/fonts.css")
        link(rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400,400italic,500,500italic,900,600,700,800")
        meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no")

        title Spar
    body
        #app

        script(src=cacheBuster("/js/webshop-mobile-app.js"))
