@font-face {
    font-family: 'FuturaPassata';
    font-weight: normal;
    font-style: normal;
    src: url('/fonts/FuturaPassata.eot');
    src:
        url('/fonts/FuturaPassata.eot?#iefix') format('embedded-opentype'),
        url('/fonts/FuturaPassata.woff2') format('woff2'),
        url('/fonts/FuturaPassata.woff') format('woff');
}
