html {
    height: 100%;
    background-color: #FFF;
    touch-action: manipulation;
    font-size: .85em;
}

body {
    min-height: 100%;
    line-height: 1.5;
    background-color: rgba(217, 217, 222, 1);
    overflow: hidden;
}

* {
    outline: none;
    border: none;
    box-shadow: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
    -webkit-touch-callout: none;
    margin: 0;
    list-style: none;
    padding: 0;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    background-color: transparent;
    color: inherit;
    line-height: inherit;
    touch-action: manipulation;
    font-style: normal;
}

*:not(input):not(textarea) {
    // this disables input fields on touch!
    user-select: none;
}

::-webkit-search-cancel-button {
    display: none;
}

::placeholder {
    color: rgba(#000, .25);
}

strong {
    font-weight: 600;
}

a,
button,
label:not([for]),
select {
    cursor: pointer;
}

input,
select {
    color: inherit;
    font-family: inherit;
    line-height: inherit;
    font-weight: inherit;
    appearance: none;
}

a {
    text-decoration: none;
}

input[type=checkbox] {
    appearance: checkbox;
}

input[type=radio] {
    appearance: radio;
}

fieldset {
    min-width: 0;
}

// fix for invisible scrollbar? might work
*:not(.show-scroll)::-webkit-scrollbar {
    display: none;
    background: rgba(#000, 0);
}

code {
    border: 1px solid #CCC;
    background-color: #EEE;
    color: rgba(#000, .5);
    font-size: 14px;
    border-radius: 2px;
    font-family: monospace;
    padding: 6px 8px;
    margin-right: 2px;
}

legend {
    display: table;
    float: left;
    margin: 0;
    padding: 0;
    width: 100%;

    + * {
        clear: both;
    }
}
