.button-title {
    margin-bottom: 12px;
    position: relative;
    padding: 0 $container-horizontal-gutter;
    text-align: left;
    line-height: 1;
    font-size: 15px;
    font-weight: 500;

    &__title {
        margin-right: 45px;
        opacity: .75;
    }

    &__button {
        position: absolute;
        bottom: 1px;
        font-size: 15px;
        color: $red;
        letter-spacing: .5px;
        z-index: 2;
        font-weight: 300;
        padding: 8px;
        margin: -8px;
        right: $container-horizontal-gutter;

        .icon {
            width: 5px;
            margin-left: 5px;
            position: relative;
        }
    }
}

